{% extends 'blog_app/base.html' %}

{% block content %}
<div class="centerstage">
<div class="postblock">
<h1>About Me</h1>
<hr>
    <div>
        <div class="aboutImage">
            <img src="/static/pictures/ProfilePic1.jpg" alt="Ancil Fernandes" title="Ancil N Fernandes" class='aboutImg'>
            <br>

        <div>
            <h2>UI/UAT Module Lead</h2>
                <br>
                <div class="about_skills">
                <p>I'm a Senior Tester with 5+ years of experience in Manual & Automation testing. Seeking opportunities to pursue Front-end (UI/UX) development by leveraging my current IT skills, thus adding to my portfolio and furthering my career growth. Highly motivated to bring better and more user-friendly websites to fruition and further improve my front-end skills. Trained in Python with Django framework for OOPS and backend implementation, aiming towards my long-term goal of becoming a Full Stack Developer.</p>
                <p>My current technical skills include:</p>
                <ul>
                    <li> Manual Testing Domain: Capital Markets</li>
                    <li>HTML, CSS, Bootstrap</li>
                    <li>JavaScript, jQuery</li>
                    <li>Python 3</li>
                    <li>MySQL, SQLite</li>
                    <li>Django framework</li>
                    <li>Git/ GitHub</li>
                    <li>React.js (with Redux), Node.js</li>
                </ul>
               <a class="btn btn-outline-success" href="#" rel="noopener noreferrer">Download RESUME</a>

              <hr>
                <h3>Thanks for Visiting!</h3>
            </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

