{% extends 'blog_app/base.html' %}

{% block content %}
<div class="postblock">
<h1>About Me</h1>
<hr>
    <div>
        <div>
            <img src="/static/pictures/ProfilePic1.jpg" alt="Ancil Fernandes" title="Ancil N Fernandes" style="width: 300px; height: 300px; float: right; border-radius: 50%; margin: 50px;">
            <br>
        </div>
        <div>
            <h2>UI/UAT Module Lead</h2>
                <br>
                <p>I'm a Senior Tester with 5+ years of experience in Manual & Automation testing. Seeking opportunities to pursue Front-end development by leveraging my current testing skills, hence furthering my career growth. Highly motivated to bring better and more user-friendly websites to fruition and further improve my HTML, CSS and JS skills. Trained in Python with Django framework for OOPS and backend implementation with the future goal of becoming a Full Stack Developer.</p>
                <p>My current technical skills include:</p>
                <ul>
                    <li> Manual Testing Domain: Capital Markets</li>
                    <li>HTML, CSS, Bootstrap</li>
                    <li>JavaScript, jQuery</li>
                    <li>Python 3</li>
                    <li>MySQL, SQLite</li>
                    <li>Django framework</li>
                    <li>Git/ GitHub</li>
                    <li>React.js</li>
                </ul>
              
                <br>
                <h3>Thanks for Visiting!</h3>
            </div>      
    </div>

</div>
{% endblock %}

