<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My Blog</title>
    <link rel="Title icon" type="PNG" href="/static/pictures/Logo.png" >

 <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

 <!-- Medium Style Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

 <!-- Custon CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

 <!-- Fonts -->
 <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed:wght@700&family=Staatliches&display=swap" rel="stylesheet">
</head>

<body>
<!-- NAVBARS -->

<header>
    <nav class="navbar navbar-expand-lg techfont">
        <div class="container-fluid" id="navbarContent">
            <!-- <a class="navbar-brand nav-padding link-text-brand" id="bigbrand" href="{% url 'post_list' %}">My Blog</a> -->
           <a href="{% url 'post_list' %}"><img class="link-logo" src="/static/pictures/Logo.png" title="My Blog"></img></a> 
            
            <!-- <form action="" method="get">
              <div class="input-group">
                <input class='form-control form-control-md searchPost' type="text" placeholder="Search Post.." name='q' >
                <div class="input-group-append input-group-md" >
                  <button class="btn btn-outline-secondary searchPostButton" type= 'submit'><i class="bi bi-search"></i></button>
                </div>
              </div>
          </form> -->

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

          <div class="collapse navbar-collapse nav-fill" id="navbarSupportedContent">
             <ul class="nav nav-pills ms-auto nav-fill mx-auto">
                <li class="nav-item"><a class="nav-link link-text" aria-current="page" href="{% url 'post_list' %}">Home</a></li>
               
              {% if user.is_authenticated %}
               <li class="nav-item"><a class="nav-link link-text " aria-current="page" style="text-align: end; color: #08800e" href="{% url 'post_new' %}">New Post</a></li>
               <li class="nav-item"><a class="nav-link link-text" aria-current="page" href="{% url 'post_draft_list' %}">Drafts</a></li>
               <li class="nav-item"><p class="nav-link link-text-user" style="transform: scale(1.1);color:rgb(65, 105, 138)">Hello: {{ user.username }}</p></li>
               <li class="nav-item"><a class="nav-link link-primary link-text-log" title="Log Out" aria-current="page" href="{% url 'logout' %}" style="color: rgb(34, 158, 55);"><i class="bi bi-person-x-fill"></i></a></li>
               {% else %}
               <li class="nav-item"><a class="nav-link link-primary link-text-log" title="Log In" aria-current="page" href="{% url 'login' %}"><i class="bi bi-person-circle"></i> Log in</a></li>
               {% endif %}
             </ul>
            </div>

            <div class="switch">
              <input id="switchld" class="switch__input" name="switch" type="checkbox" checked>
              <!-- <label class="switch__label bi-brightness-high center" for="switchld"></label> -->
              <label class="switch__label bi bi-circle-half" for="switchld"></label>
            </div>
        </div>
      </nav>
    </header>

    <!-- <div class="mainImage">
      <a class="imageRedirect" target="_blank" rel="noreferrer noopener"><img src="/static/pictures/PostPlaceholder2.jpeg" title="" alt="Loading..." id="unsplashImageId2" class="unsplashImageMain" alt=""></a>
  </div> -->

  <div>
    {% block weather %}
    {% endblock %}
   </div>
      
      <div class="content container loader">
        <div class="d-flex flex-row">
          <div class="col-12 p-2">
              <div class="blog_posts">
                {% block content %}
                {% endblock %}
              </div>
            </div>
          </div>
    </div>


    {% block footer %}
    {% endblock %}

    <script src="{% static 'js/blog.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</body>
</html>