{% extends 'blog_app/base.html' %}

{% block content %}
<div class="centerstage">
    {% for post in post_list %}
    <div class="post postblock">
        <h1 class='posttitle'><a href="{% url 'post_detail' pk=post.pk %}"> {{ post.title }}</a></h1>
        <div class="date">
            <p>Published on: {{ post.published_date|date:'d-m-Y' }}</p>
        </div>
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
    </div>
    {% empty %}
    <p class="postblock postcontent">No Posts.</p>
    {% endfor %}
</div>
{% endblock %}

{% block weather %}
<div class="col-3 p-2 weather-api">
 
    <form id = "locationData">
     <div class='form-group'></div>
     <h1 class='techfont mt-2'>Weather</h1>
     <input class='form-control city' id='city' type="text" placeholder="Search for a city" autofocus>
     <button id= 'weather_button'class="btn btn-info form-group mt-1 px-50" type="submit">SUBMIT</button>
    </form>
    <div class="">
        <div class='description' id="description"></div>
        <h3 id="temp"></h3>
        <h5 id="temp-max"></h5>
        <h5 id="temp-min"></h5>
        <h6 id="location"></h6>
        <h6 id="country"></h6>
        <hr>
        <div id="openweathercredits"></div>
    </div>
 
    </div>
    {% endblock %}