{% extends 'blog_app/base.html' %}

{% block content %}

<div class="backIcon">
   <a href="{% url 'post_list' %}"><i class="bi bi-arrow-left-circle-fill"></i></a> 
</div>

 <div class= "postblock">
    <h1 class='posttitle'>{{ post.title }}</h1>
        {% if post.published_date %}
            <div class="date postdate">
              {{ post.published_date }}
            </div>
        {% else %}
          <a class="btn btn-success cl-mode-icon" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
          <a class="btn btn-outline-warning cl-mode-icon" href="{% url 'post_draft_list' %}">Drafts List</a>
        {% endif %}
            <div class="postcontent">
            <p>{{ post.text|safe|linebreaksbr }}</p>


            {% if post.author|safe != "superuser" %}
            <div class="postauthor">
              Posted by: @{{ post.author|lower|safe|linebreaksbr }}
            </div>
            {% endif %}
            </div>


            {% if request.user|safe == post.author|safe or request.user.is_superuser  %}
                <a class="btn btn-primary" title="Edit" href="{% url 'post_edit' pk=post.pk %}"><i class="bi bi-pen-fill"></i></a>
                <a class="btn btn-primary" title="Delete" href="{% url 'post_remove' pk=post.pk %}"><i class="bi bi-trash-fill"></i></a>
            {% endif %}

  <hr>
  <a class="btn btn-primary btn-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>

  {% for comment in post.comments.all %}
  <br>
      {% if user.is_authenticated or comment.approved_comment %}
         <div class="date postdate">{{ comment.created_date|timesince }} ago</div>
         <div class="removeapprove">
            <div class="postcomment">{{ comment.text|safe|linebreaksbr }}</div>
              {% if not comment.approved_comment %}
                  <a class="btn btn-primary" title="Remove" href="{% url 'comment_remove' pk=comment.pk %}"><i class="bi bi-x-lg"></i> Delete</a>
                  <a class="btn btn-primary" title="Approve" href="{% url 'comment_approve' pk=comment.pk %}"><i class="bi bi-check-lg"></i> Approve</a>
                  {% endif %}
              </div> 
          <p>Posted by: <strong>{{ comment.author }}</strong></p>
      {% endif %}
  {% empty %}
      <p>No comments posted.</p>
  {% endfor %}
</div>

{% endblock %}